<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database Management</title>
</head>
<body>
    <h1>Database Management</h1>
    <ul>
        <li><a href="/flights_view">View Flights</a></li>
        <li><a href="/aviacompanies_view">View Aviacompanies</a></li>
        <li><a href="/tickets_view">View Tickets</a></li>
        <li><a href="/airplanes_view">View Airplanes</a></li>
        <li><a href="/clients_view">View Clients</a></li>
    </ul>

    <li><a href="/logout">Logout</a></li>
</body>
</html>

