<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database Management</title>
</head>
<body>
    <h1>Database Management</h1>
    <ul>
        <li><a href="/flights">Manage Flights</a></li>
        <li><a href="/aviacompanies">Manage Aviacompanies</a></li>
        <li><a href="/tickets">Manage Tickets</a></li>
        <li><a href="/airplanes">Manage Airplanes</a></li>
        <li><a href="/clients">Manage Clients</a></li>
    </ul>
</body>
</html>
